apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: zip
resources:
  - deployment.yaml
  - ingress.yaml
  - service.yaml
images:
  - name: zip
    newName: rg.fr-par.scw.cloud/djnd/zip
    newTag: '50437fb4624f921ad0cbac0ad31032935aba9bcd'
