{% load wagtailcore_tags wagtailimages_tags zip_extras %}

<div class="container {{ value|block_class_for_css_class }}">
  <div class="no-gutter">
    <div class="content">
      <div class="calendar">
        <a name="calendar" style="position: relative; top: -3rem;"></a>
        <div class="calendar__month">
          <a class="prev" href="?month={{ previous_month|date:"Y-m" }}#calendar">
            <svg xmlns="http://www.w3.org/2000/svg" fill="#000" viewBox="0 0 11 14">
              <path d="M0 7 10.5.94v12.12L0 7Z"/>
            </svg>
          </a>
          <h2 class="calendar__title">
            {{ current_month|date:"F Y" }}
          </h2>
          <a class="next" href="?month={{ next_month|date:"Y-m" }}#calendar">
            <svg xmlns="http://www.w3.org/2000/svg" fill="#000" viewBox="0 0 11 14">
              <path d="M11 7 .5 13.06V.94L11 7Z"/>
            </svg>
          </a>
        </div>
        {{ calendar|safe }}
      </div>
      <div class="event-list">
        {% for event in events %}
          {% if event %}
          {% include "home/partials/event_card.html" with event=event only %}
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>
