{% load wagtailcore_tags wagtailimages_tags zip_extras %}

<div class="container {{ value|block_class_for_css_class }}">
  <div class="no-gutter bg-{{ value.color }}">
    <div class="content image-{{ value.image_position }}">
      <div class="text">
        <h1 class="title">{{ value.title }}</h1>
        {% if value.description %}
        <div class="description rich-text">{{ value.description|richtext }}</div>
        {% endif %}
      </div>
      {% if value.image %}
      <div class="image">
        {% image value.image width-1400 %}
      </div>
      {% endif %}
    </div>
  </div>
</div>
