{% load static wagtailcore_tags wagtailimages_tags wagtailsettings_tags zip_extras %}

{% get_settings %}

<div class="container {{ value|block_class_for_css_class }}">
  <div class="no-gutter">
    <div class="newsletter__content">
      <img src="{% static "img/newsletter-illustration.png" %}" alt="">
      <h2 class="newsletter__title">{{ value.title }}</h2>
    </div>
    <div class="newsletter__form">
      <form>
        <div class="form-row">
          <label>
            <span>{{ settings.home.FooterSettings.newsletter_signup_email_label }}</span>
            <input type="email" name="email" required>
          </label>
        </div>
        <div class="form-row checkbox">
          <label>
            <input type="checkbox" name="consent" required>
            <span>{{ settings.home.FooterSettings.newsletter_signup_consent_label }}</span>
          </label>
        </div>
        <div class="form-row">
          <a href="" class="newsletter__button">
            {{ settings.home.FooterSettings.newsletter_signup_submit_text }}&nbsp;<img src="{% static "img/arrow-bold.svg" %}" alt="">
          </a>
        </div>
      </form>
    </div>
  </div>
</div>
