{% load static wagtailcore_tags zip_extras %}

<div class="container {{ value|block_class_for_css_class }}">
  <div class="section-title">
    <div class="section-icon">
      <img src="{% static "img/section-icon.svg" %}" alt="">
    </div>
    <h2 class="title">{{ value.title }}</h2>
    {% if value.page %}
    <a class="link" href="{% pageurl value.page.localized %}">
      {{ value.link_text }}&nbsp;<img src="{% static "img/arrow.svg" %}" alt="">
    </a>
    {% endif %}
  </div>
  <div class="event-list">
    {% for event in events %}
    {% include "home/partials/event_card.html" with event=event only %}
    {% endfor %}
  </div>
</div>
