{% load static wagtailsettings_tags wagtailcore_tags %}

{% get_settings %}

<footer class="page-footer">
  <div class="container">
    <div class="footer-cols">
      <div class="footer-col">
        <div class="rich-text">
          {{ settings.home.FooterSettings.about_us|richtext }}
        </div>
      </div>
      <div class="footer-col contact">
        <ul class="social-media">
          {% for item in settings.home.FooterSettings.social_media_links %}
            <li>
              <a href="{{ item.value.url }}" target="_blank" rel="noopener noreferrer">
                <img src="{% static "img/icons/social/"|add:item.value.platform|add:".svg" %}" alt="{{ item.value.platform }} icon">
              </a>
            </li>
          {% endfor %}
        </ul>
        <div class="rich-text">
          <p>{{ settings.home.FooterSettings.email }}</p>
          <p>{{ settings.home.FooterSettings.phone }}</p>
        </div>
      </div>
    </div>
  </div>
</footer>
